---
import Footer from "@/components/footer";
import AboutSection from "@/components/sections/about-section.astro";
import AchievementsSection from "@/components/sections/achievements-section.astro";
import BlogSection from "@/components/sections/blog-section.astro";
import EducationSection from "@/components/sections/education-section.astro";
import ExperienceSection from "@/components/sections/experience-section.astro";
import ProjectsSection from "@/components/sections/projects-section.astro";
import Sidebar from "@/components/sidebar";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<div class="lg:flex lg:justify-between lg:gap-4">
		<Sidebar client:load />
		<main id="content" class="space-y-16 pt-24 md:space-y-24 lg:w-[52%] lg:space-y-36 lg:py-24">
			<AboutSection />
			<ExperienceSection />
			<ProjectsSection />
			<EducationSection />
			<AchievementsSection />
			<BlogSection />
			<Footer />
		</main>
	</div>
</Layout>
