---
const year = new Date().getFullYear();
---

<footer class="text-muted-foreground max-w-md space-y-2 pb-5 text-sm sm:pb-0">
	<p>© {year} Ritik Tiwari. Built with Astro, Tailwind CSS & TypeScript.</p>
</footer>
