* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

[data-theme="light"] {
  --primary: #222222;
  --secondary: #0060ff;
  --sec-hover: rgba(0, 96, 255, 0.3);
  --bg-main: #ffffff;
  --bg-touch: #ffffff;
  --footer-bg: #f5f5f5;
  --badge: rgba(0, 0, 0, 0.75);
  --shadow: rgba(0, 0, 0, 0.25);
  --circle-shadow: rgba(0, 0, 0, 0.25);
  --card-color: #ffffff;
}

[data-theme="dark"] {
  --primary: #ffffff;
  --secondary: #3996ff;
  --sec-hover: rgba(57, 150, 255, 0.3);
  --bg-main: #1a1e23;
  --bg-touch: #2a2f35;
  --footer-bg: #2a2f35;
  --badge: rgba(0, 0, 0, 0.75);
  --circle-shadow: rgba(1, 0, 0, 0.25);
  --card-color: #ffffff;
}

:root {
  /* Social Media Colors */
  --linkedin: #0e76a8;
  --github: #171515;
  --instagram: #bc2a8d;
  --youtube: #ff0000;
  --twitter: #1da1f2;
  --facebook: #3b5998;
  --email: #ea4335;

  /* Fonts */
  --font: "Roboto", sans-serif;
  --fancy-font: "Cinzel Decorative", cursive;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary);
  background: var(--bg-main);
}
a {
  color: var(--primary);
}
.btn {
  display: inline-block;
  outline: none;
  font-size: 18px;
  line-height: 1.5;
  padding: 8px 30px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

/* 1 : NAVBAR STYLING */

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--bg-main);
}

header .left-nav {
  flex: 1;
}
header .left-nav .logobgColor {
  fill: var(--secondary);
}
header .left-nav .logoColor {
  fill: var(--bg-main);
}

header .center-nav {
  text-transform: uppercase;
  flex: 2;
}
header .center-nav .nav-list {
  display: flex;
  justify-content: space-around;
}
header .center-nav .nav-list li {
  padding: 5px 0;
}
header .center-nav .nav-list .extend {
  position: relative;
}
header .center-nav .nav-list .extend .fa-caret-down {
  margin-left: 5px;
  color: var(--secondary);
}
header .center-nav .nav-list .extend:hover .fa-caret-down {
  transform: rotate(180deg);
}
header .center-nav .nav-list .extend .dropdown {
  display: none;
  position: absolute;
  top: 30px;
  left: -10px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 30px 0 var(--shadow);
  background-color: var(--bg-touch);
}
header .center-nav .nav-list .extend .dropdown li {
  padding: 5px;
  display: flex;
  align-items: center;
}
header .center-nav .nav-list .extend .dropdown li:hover {
  background-color: var(--sec-hover);
  border-radius: 10px;
}
header .center-nav .nav-list .extend .dropdown li:hover .fas {
  background-color: var(--secondary);
}
header .center-nav .nav-list .extend .dropdown li .fas {
  color: var(--primary);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: var(--sec-hover);
  padding: 20px;
  border-radius: 8px;
  margin-right: 10px;
}
header .center-nav .nav-list .extend:hover .dropdown {
  display: block;
}

header .right-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}
header .right-nav .mode i {
  font-size: 20px;
  color: var(--secondary);
}
header .right-nav .mode {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 100%;
}
header .right-nav .mode:hover {
  background-color: var(--sec-hover);
}

/* 2 : MAIN PAGE STYLING */

.landing {
  height: 90vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-main);
}

.landing .left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 250px;
  align-items: flex-start;
  width: 50%;
}

.landing .left .tipbox {
  color: var(--bg-main);
  background-color: var(--secondary);
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
}

.landing .left .tipbox::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  top: 98.5%;
  left: 20px;
  border-width: 20px;
  border-style: solid;
  border-color: var(--secondary) transparent transparent transparent;
}
.landing .left .greet {
  font-size: 40px;
  font-weight: 400;
}
.landing .left .name {
  font-size: 70px;
  font-weight: 700;
  /* font-family: var(--fancy-font); */
}
.landing .left .title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.landing .left .cta {
  border: 1px solid var(--secondary);
  color: var(--bg-main);
  background-color: var(--secondary);
  /* box-shadow: 0 10px 30px 0 var(--sec-hover); */
}
.landing .left .cta:hover {
  box-shadow: none;
  background-color: transparent;
  color: var(--primary);
}

.landing .right svg {
  fill: var(--secondary);
}

/* 3. ABOUT PAGE STYLING */

.about {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg-main);
  background-color: var(--secondary);
}
.about .container {
  padding: 40px;
  width: 85vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .left {
  flex: 1;
  text-align: center;
}
.about .left h1 {
  font-size: 50px;
  font-weight: 700;
  position: relative;
}
.about .left h1::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 5px;
  left: 40%;
  top: 100%;
  background-color: var(--bg-main);
}

.about .right {
  flex: 2;
  text-align: justify;
}
.about .right .main-text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}
.about .right .text {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
}
.about .right .education {
  border: 1px solid var(--bg-main);
  color: var(--secondary);
  background-color: var(--bg-main);
  margin-right: 30px;
}
.about .right .education:hover {
  color: var(--bg-main);
  background-color: transparent;
}
.about .right .resume {
  border: 1px solid var(--bg-main);
  color: var(--bg-main);
  background-color: transparent;
}
.about .right .resume:hover {
  color: var(--secondary);
  background-color: var(--bg-main);
}

/* 4. SKILLS PAGE STYLING */

.skills {
  height: 70vh;
  padding: 60px 60px 150px 60px;
  color: var(--primary);
  background-color: var(--bg-main);
}
.skills h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 0 0 35px 125px;
}
.skills .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75vw;
  height: 75%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 25px 100px 0 var(--shadow);
  background-color: var(--bg-touch);
}
.skills .container .left,
.skills .container .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}
.skills .container .skill {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
}
.skills .container .skill p {
  font-size: 20px;
  font-weight: 400;
  width: 60px;
  margin-right: 25px;
}
.skills .container .skill .progress .circles {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 5px;
  box-shadow: inset 0 0 10px 0 var(--circle-shadow);
}

.left .skill:nth-child(1) .circles:nth-child(1),
.left .skill:nth-child(1) .circles:nth-child(2),
.left .skill:nth-child(1) .circles:nth-child(3),
.left .skill:nth-child(1) .circles:nth-child(4),
.left .skill:nth-child(1) .circles:nth-child(5),
.left .skill:nth-child(1) .circles:nth-child(6),
.left .skill:nth-child(1) .circles:nth-child(7),
.left .skill:nth-child(2) .circles:nth-child(1),
.left .skill:nth-child(2) .circles:nth-child(2),
.left .skill:nth-child(2) .circles:nth-child(3),
.left .skill:nth-child(2) .circles:nth-child(4),
.left .skill:nth-child(2) .circles:nth-child(5),
.left .skill:nth-child(2) .circles:nth-child(6),
.left .skill:nth-child(2) .circles:nth-child(7),
.left .skill:nth-child(2) .circles:nth-child(8),
.left .skill:nth-child(3) .circles:nth-child(1),
.left .skill:nth-child(3) .circles:nth-child(2),
.left .skill:nth-child(3) .circles:nth-child(3),
.left .skill:nth-child(3) .circles:nth-child(4),
.left .skill:nth-child(3) .circles:nth-child(5),
.right .skill:nth-child(1) .circles:nth-child(1),
.right .skill:nth-child(1) .circles:nth-child(2),
.right .skill:nth-child(1) .circles:nth-child(3),
.right .skill:nth-child(1) .circles:nth-child(4),
.right .skill:nth-child(1) .circles:nth-child(5),
.right .skill:nth-child(1) .circles:nth-child(6),
.right .skill:nth-child(2) .circles:nth-child(1),
.right .skill:nth-child(2) .circles:nth-child(2),
.right .skill:nth-child(2) .circles:nth-child(3),
.right .skill:nth-child(2) .circles:nth-child(4),
.right .skill:nth-child(2) .circles:nth-child(5),
.right .skill:nth-child(2) .circles:nth-child(6),
.right .skill:nth-child(2) .circles:nth-child(7),
.right .skill:nth-child(3) .circles:nth-child(1),
.right .skill:nth-child(3) .circles:nth-child(2),
.right .skill:nth-child(3) .circles:nth-child(3),
.right .skill:nth-child(3) .circles:nth-child(4),
.right .skill:nth-child(3) .circles:nth-child(5),
.right .skill:nth-child(3) .circles:nth-child(6),
.right .skill:nth-child(3) .circles:nth-child(7),
.right .skill:nth-child(3) .circles:nth-child(8) {
  background-color: var(--secondary);
}

/* 5. PROJECTS SECTION STYLING */

.projects {
  height: 70vh;
  padding: 60px 60px 150px 60px;
  color: var(--bg-main);
  background-color: var(--secondary);
}
.projects h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 20px 0 50px 30px;
  position: relative;
}
.projects h1::before {
  content: "";
  position: absolute;
  top: 115%;
  width: 150px;
  height: 5px;
  background-color: var(--bg-main);
}
.projects .projects-container {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}
.projects .projects-container .project-card {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}
.projects .projects-container .project-card .project-badge {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 20px;
  border-radius: 5px 0 5px 0;
  color: #fff;
  background-color: var(--badge);
}
.projects .projects-container .project-card .project-card-image {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--card-color);
  transition: all 0.3s ease;
}
.projects .projects-container .project-card .project-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.projects .projects-container .project-card .project-card-info {
  display: none;
  background-color: var(--badge);
  border-radius: 0 0 5px 5px;
  color: var(--card-color);
  padding: 15px;
  bottom: 0;
}
.projects .projects-container .project-card:hover .project-card-info {
  display: block;
  position: absolute;
}
.projects .projects-container .project-card .project-card-info p {
  text-align: justify;
  margin: 10px 0;
}
.projects .projects-container .project-card .project-card-info .read {
  color: var(--badge);
  font-size: 15px;
  padding: 7px 15px;
  border: 1px solid var(--card-color);
  background-color: var(--card-color);
  transition: all 0.3s ease;
}
.projects .projects-container .project-card .project-card-info .read:hover {
  background-color: transparent;
  color: var(--card-color);
}

/* 6. FOLLOW SECTION STYLING */
.follow {
  padding: 40px;
  margin: auto;
  color: var(--primary);
  background-color: var(--bg-main);
}
.follow h1 {
  font-size: 50px;
  font-weight: 700;
  margin: 20px 0 50px 30px;
}
.follow .container {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto auto;
  margin-bottom: 30px;
}
.follow .container .box {
  width: 220px;
  height: 75px;
  border-radius: 8px;
  background-color: var(--bg-touch);
  box-shadow: 0 1px 5px 0 var(--shadow);
  display: flex;
  align-items: center;
  padding: 5px;
  transition: all 0.7s ease;
}
.follow .container .box:hover {
  background-color: var(--sec-hover);
}
.follow .container .box .logo {
  border-radius: 5px;
  margin-right: 15px;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow .container .box:nth-child(1) .logo {
  background-color: var(--linkedin);
}
.follow .container .box:nth-child(2) .logo {
  background-color: var(--github);
}
.follow .container .box:nth-child(3) .logo {
  background-color: var(--instagram);
}
.follow .container .box:nth-child(4) .logo {
  background-color: var(--youtube);
}
.follow .container .box .logo .fab {
  font-size: 30px;
  color: var(--card-color);
  transition: all 0.3s ease;
}
.follow .container .box .text h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 5px 0;
}

/* 7. TIME SECTION STYLING */
.time {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  margin: auto;
  color: var(--bg-main);
  background-color: var(--secondary);
}
.time .left,
.time .right {
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
}

/* 8. FOOTER SECTION STYLING */

.footer {
  height: 25vh;
  padding: 30px;
  color: var(--primary);
  background-color: var(--footer-bg);
}
.footer .thanks {
  text-align: center;
}

.footer h2 {
  font-size: 25px;
  font-weight: 400;
}
.footer h1 {
  font-size: 30px;
  font-weight: 500;
}

.footer hr {
  width: 95%;
  margin: 20px auto;
  border-radius: 5px;
  border: 2px solid var(--primary);
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
}

.footer .container .social ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .container .social ul li {
  height: 20px;
  font-size: 20px;
  margin-right: 20px;
}
.footer .container .social ul a:nth-child(1) li:hover {
  color: var(--linkedin);
}
.footer .container .social ul a:nth-child(2) li:hover {
  color: var(--github);
}
.footer .container .social ul a:nth-child(3) li:hover {
  color: var(--instagram);
}
.footer .container .social ul a:nth-child(4) li:hover {
  color: var(--twitter);
}
.footer .container .social ul a:nth-child(5) li:hover {
  color: var(--facebook);
}
.footer .container .social ul a:nth-child(6) li:hover {
  color: var(--email);
}

.footer .container .copyright {
  font-size: 20px;
}
.footer .container .copyright .name {
  color: var(--secondary);
  font-weight: 700;
}
