* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  /* user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; */
}

[data-theme="light"] {
  /* Color */
  --primary: #222222;
  --secondary: #0060ff;
  --sec-hover: rgba(0, 96, 255, 0.3);
  --bg-main: #ffffff;
  --bg-touch: #ffffff;
  --footer-bg: #f5f5f5;
  --placeholder: #666666;
  /* Shadow */
  --shadow: rgba(0, 0, 0, 0.25);
  --badge: rgba(0, 0, 0, 0.75);
  --black-shadow: rgba(0, 0, 0, 0.25);
  --white-color: #ffffff;
}

[data-theme="dark"] {
  /* Color */
  --primary: #ffffff;
  --secondary: #3996ff;
  --sec-hover: rgba(57, 150, 255, 0.3);
  --bg-main: #1a1e23;
  --bg-touch: #2a2f35;
  --footer-bg: #2a2f35;
  --placeholder: #bbbbbb;
  /* Shadow */
  --shadow: rgba(0, 0, 0, 0.25);
  --badge: rgba(0, 0, 0, 0.75);
  --white-color: #ffffff;
}

:root {
  /* Social Media Colors */
  --linkedin: #0e76a8;
  --github: #171515;
  --instagram: #bc2a8d;
  --youtube: #ff0000;
  --twitter: #1da1f2;
  --facebook: #3b5998;
  --email: #ea4335;

  /* Fonts */
  --font: "Roboto", sans-serif;
  --fancy-font: "Cinzel Decorative", cursive;

  /* Font Size */
  --name: 4rem;
  --h1: 3.5rem;
  --h2: 2.5rem;
  --h3: 1.75rem;
  --h4: 1.5rem;
  --h5: 1.25rem;
  --p: 1rem;
}

/* mobile devices  */
@media only screen and (max-width: 1160px) {
  :root {
    --name: 3.5rem;
    --h1: 3rem;
    --h2: 2rem;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: var(--font);
  color: var(--primary);
  background: var(--bg-main);
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: var(--primary);
}

.btn {
  display: inline-block;
  outline: none;
  font-size: 18px;
  line-height: 1.5;
  padding: 8px 30px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

/* MODAL */

.myModal {
  position: fixed;
  top: -100%;
  left: -100%;
}

.myModal-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: var(--shadow);
  z-index: 1;
}

.description {
  width: 75%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  color: var(--primary);
  background-color: var(--bg-touch);
  box-shadow: 0 4px 50px 0 var(--black-shadow);
}

.description .heading {
  font-size: var(--h3);
  font-weight: 500;
  padding: 20px;
}

.description .close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--h3);
  cursor: pointer;
}

.description span {
  display: inline-block;
  padding: 20px 20px 0;
}

.description p {
  padding: 20px 20px 0;
  text-align: justify;
}

.description .more {
  margin: 20px;
  border: 1px solid var(--secondary);
  color: var(--white-color);
  background-color: var(--secondary);
}

.description .more:hover {
  color: var(--secondary);
  background-color: transparent;
}

/* 1 : NAVBAR STYLING */

header {
  position: fixed;
  bottom: 92vh;
  width: 100%;
  height: 8vh;
  z-index: 1;
  background-color: var(--bg-main);
}

.nav-shadow {
  box-shadow: 0 0 50px 10px var(--shadow);
}

.navbar {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  background-color: var(--bg-main);
}

.left-nav {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-nav .logobgColor {
  fill: var(--secondary);
}

.left-nav .logoColor {
  fill: var(--bg-main);
}

.center-nav {
  flex: 3;
  text-transform: uppercase;
}

.center-nav .nav-links {
  display: flex;
  justify-content: space-around;
}

.nav-links .link {
  position: relative;
}

.nav-links .link::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  bottom: -5px;
  height: 2px;
  background-color: var(--secondary);
  transition: all 0.3s linear;
}

.nav-links .link:hover::after {
  width: 100%;
}

.nav-links li {
  position: relative;
  padding: 20px 0;
}

.nav-links li .fa-caret-down {
  margin-left: 5px;
  color: var(--secondary);
  transition: transform 0.3s ease-in-out;
}

.nav-links li:hover .fa-caret-down {
  transform: rotate(180deg);
}

/* dropdown design */
.nav-links li:hover .dropdown {
  display: block;
}

.dropdown {
  position: absolute;
  top: 85%;
  left: 0;
  display: none;
  min-width: 300px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 30px 0 var(--black-shadow);
  background-color: var(--bg-touch);
}

.dropdown li {
  padding: 5px !important;
}

.dropdown li:hover {
  background-color: var(--sec-hover);
  border-radius: 10px;
}

.dropdown li:hover .fas {
  color: var(--white-color);
  background-color: var(--secondary);
}

.dropdown li .fas {
  color: var(--primary);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background-color: var(--sec-hover);
  padding: 20px;
  border-radius: 8px;
  margin-right: 10px;
}

.dropdown a {
  display: flex;
  align-items: center;
}

/* Mobile menu design */
.mob-nav {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 8vh;
  background-color: var(--bg-main);
  box-shadow: 0px -8px 20px var(--shadow);
}

.mob-nav .mob-links {
  width: 90%;
  display: grid;
  padding: 20px 0;
  margin: 0 auto;
}

.mob-links li {
  height: 70px;
  padding: 0 5px;
  border-radius: 10px;
  background-color: var(--bg-touch);
  box-shadow: 0 0 5px 0 var(--black-shadow);
  cursor: pointer;
}

.mob-links li:hover {
  background-color: var(--sec-hover);
}

.mob-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.mob-links li i {
  color: var(--secondary);
}

.right-nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-nav .mode {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.right-nav .mode:hover {
  background-color: var(--sec-hover);
}

.right-nav .mode i {
  font-size: 20px;
  color: var(--secondary);
}

#toggle {
  display: none;
}

.toggle-btn {
  display: none;
  height: 40px;
  width: 40px;
  padding: 10px 5px;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.toggle-line {
  width: 100%;
  margin: 2px auto;
  height: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-line .circle {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background-color: var(--secondary);
}

.toggle-line .line {
  display: block;
  height: 5px;
  width: 75%;
  border-radius: 10px;
  background-color: var(--secondary);
}

/* 2. LANDING PAGE DESIGN */

.landing {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landing .left {
  width: 50%;
  min-height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}

.landing .left .tipbox {
  color: var(--white-color);
  background-color: var(--secondary);
  padding: 10px 20px;
  border-radius: 5px;
  position: relative;
}

.landing .left .tipbox::after {
  content: "";
  position: absolute;
  top: 98.5%;
  left: 20px;
  border-width: 20px;
  border-style: solid;
  border-color: var(--secondary) transparent transparent transparent;
}

.landing .left .greet {
  font-size: var(--h2);
  font-weight: 400;
}

.landing .left .name {
  font-size: var(--name);
  font-weight: 700;
  margin: 20px 0 0;
  /* font-family: var(--fancy-font); */
}

.landing .left .title {
  font-size: var(--h5);
  font-weight: 400;
  margin-bottom: 30px;
}

.landing .left .cta {
  border: 1px solid var(--secondary);
  color: var(--white-color);
  background-color: var(--secondary);
  box-shadow: 0 10px 30px 0 var(--sec-hover);
}

.landing .left .cta:hover {
  box-shadow: none;
  background-color: transparent;
  color: var(--primary);
}

.landing .right svg {
  fill: var(--secondary);
  width: 100%;
}

/* 3. ABOUT SECTION STYLING */

.about {
  width: 100%;
  margin: 40px auto;
  padding: 20px;
  color: var(--white-color);
  background-color: var(--secondary);
}

.about .container {
  padding: 40px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .left {
  flex: 1;
  text-align: center;
}

.about .left h1 {
  font-size: var(--h1);
  font-weight: 700;
  position: relative;
}

.about .left h1::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 5px;
  right: 15%;
  bottom: 0;
  background-color: var(--white-color);
}

.about .right {
  flex: 2;
  text-align: justify;
}

.about .right .main-text {
  font-size: var(--h5);
  font-weight: 500;
}

.about .right .text {
  font-size: var(--p);
  font-weight: 300;
  margin: 20px 0 35px;
}

.about .right .resume {
  border: 1px solid var(--white-color);
  color: var(--secondary);
  background-color: var(--white-color);
  margin-right: 30px;
}

.about .right .resume:hover {
  color: var(--white-color);
  background-color: transparent;
}

.about .right .education {
  border: 1px solid var(--white-color);
  color: var(--white-color);
  background-color: transparent;
}

.about .right .education:hover {
  color: var(--secondary);
  background-color: var(--white-color);
}

/* 4. SKILLS SECTION STYLING */

.skills {
  padding: 50px 0 60px;
  width: 85%;
  margin: 20px auto;
  color: var(--primary);
}

.skills h1 {
  font-size: var(--h1);
  font-weight: 700;
  margin: 0 0 30px;
}

.skills .container {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--bg-touch);
  box-shadow: 0 25px 100px 0 var(--black-shadow);
}

.skills .container .left,
.skills .container .right {
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

.skills .skill {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

.skill p {
  font-size: var(--h5);
  font-weight: 400;
  width: 18%;
  margin-right: 30px;
}

.skill .circles {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 5px;
  box-shadow: inset 0 0 10px 0 var(--shadow);
}

.skill .fill-circle {
  background-color: var(--secondary);
}

/* 5. PROJECTS SECTION AND PROJECT PAGE STYLING */

.projects {
  padding: 50px 0 60px;
  width: 100vw;
  margin: 20px auto;
  color: var(--white-color);
  background-color: var(--secondary);
}

.projects h1 {
  font-size: var(--h1);
  font-weight: 700;
  margin: 0 100px 50px;
  position: relative;
}

.projects h1::before {
  content: "";
  position: absolute;
  bottom: -15%;
  width: 150px;
  height: 5px;
  background-color: var(--white-color);
}

.projects-container {
  position: relative;
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-gap: 50px;
  place-items: center;
}

.myProject {
  width: 80%;
  position: relative;
  overflow: hidden;
}

.myProject .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myProject .left img {
  width: 100%;
  cursor: pointer;
}

.myProject .right {
  width: 100%;
  position: absolute;
  bottom: -1000px;
  padding: 15px;
  background-color: var(--badge);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.myProject:hover .right {
  bottom: 0;
}

.myProject .right .duration {
  margin: 5px 0 10px;
}

.myProject .right .read {
  font-size: 15px;
  padding: 5px 15px;
  background-color: var(--secondary);
  color: var(--white-color);
}

.myProject .right .read:hover {
  background-color: var(--sec-hover);
}

.project-page {
  color: var(--white-color);
  padding: 15vh 50px;
  height: auto !important;
}

.project-page .myProject {
  border-bottom: 5px solid var(--secondary);
  box-shadow: 0 -10px 10px 0 var(--shadow);
}

.project-page .myProject .right {
  background-color: var(--secondary);
}

.project-page .myProject .right .read {
  outline: none;
  border: none;
  color: var(--secondary);
  background-color: var(--white-color);
  cursor: pointer;
}


/* 6. OFFERS (SERVICE) SECTION STYLING */

.service-list{
  padding: 50px 0 60px;
  width: 85%;
  margin: 20px auto;
  color: var(--primary);
}

.service-list h1 {
  font-size: var(--h1);
  font-weight: 700;
  margin: 0 0 30px;
}

.service-list .container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--bg-touch);
  box-shadow: 0 25px 100px 0 var(--black-shadow);
}

.service-list .container .left,
.service-list .container .right {
  display: flex;
  flex-direction: column;
}

.service-list .container .service-type {
  padding: 20px;
}

/* 6. TESTIMONIALS SECTION STYLING */

.testimonial{
  background-color: var(--secondary);
  padding: 80px 20px;
  overflow: hidden;
}

.testimonial h1 {
  font-size: var(--h1);
  font-weight: 700;
  margin-left: 80px;
  margin-bottom: 40px;
  color: var(--white-color);
}

.slid-er .slides {
  display: flex;
}

.slide {
  margin: 8px;
  border-radius: 12px;
  position: relative;
}
.slide-content{
  display: block;
  width: 450px;
  padding: 50px;
  height: auto;
  text-align: center;
  border-radius: 15px;
  background-color: var(--white-color);
}
.img-area {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--sec-hover);
}

.img-area img {
  width: 100%;
  height: 100%;
}

.slide-content h4 {
  font-size: 20px;
  margin: 15px 0;
  color: #000;
}

.slide-content p {
  color: #262626;
  font-size: 15px;
  line-height: 1.5;
}


/* 6. FOLLOW SECTION STYLING */
.follow {
  padding: 40px;
  margin: 0 auto;
  color: var(--primary);
  background-color: var(--bg-main);
}

.follow h1 {
  font-size: var(--h1);
  font-weight: 700;
  margin: 20px 55px 50px;
}

.follow .container {
  width: 95%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
}

.follow .container .box {
  min-width: 220px;
  height: 75px;
  border-radius: 8px;
  background-color: var(--bg-touch);
  box-shadow: 0 1px 5px 0 var(--black-shadow);
  display: flex;
  align-items: center;
  padding: 5px;
  transition: background-color 0.3s ease-in-out;
}

.follow .container .box:hover {
  background-color: var(--sec-hover);
}

.follow .container .box .logo {
  border-radius: 5px;
  margin-right: 15px;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow .container .box:nth-child(1) .logo {
  background-color: var(--linkedin);
}

.follow .container .box:nth-child(2) .logo {
  background-color: var(--github);
}

.follow .container .box:nth-child(3) .logo {
  background-color: var(--instagram);
}

.follow .container .box:nth-child(4) .logo {
  background-color: var(--youtube);
}

.follow .container .box .logo .fab {
  font-size: 30px;
  color: var(--white-color);
  transition: all 0.3s ease;
}

.follow .container .box .text h3 {
  font-size: var(--h5);
  font-weight: 500;
  margin: 5px 0;
}

/* 7. FOOTER SECTION STYLING */

.footer {
  padding: 30px;
  color: var(--primary);
  background-color: var(--footer-bg);
  text-align: center;
}

.footer h2 {
  font-size: 25px;
  font-weight: 400;
}

.footer h1 {
  font-size: 30px;
  font-weight: 500;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  font-size: var(--h5);
}

.footer .container .copyright .name {
  color: var(--secondary);
  font-weight: 700;
}

/* 8. Education & Experience Page Styling */

.details-container {
  position: relative;
  margin: 8vh auto;
  padding: 40px;
  width: 80%;
}

.details-container .center-line {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  height: 95%;
  width: 5px;
  border-radius: 10px;
  background: var(--secondary);
}

.details-container .row {
  display: flex;
  margin: 20px 0;
}

.details-container .row-1 {
  justify-content: flex-start;
}

.details-container .row-2 {
  justify-content: flex-end;
}

.details-container .row .box {
  background: var(--bg-touch);
  box-shadow: 0 2px 10px var(--black-shadow);
  border-radius: 5px;
  width: calc(50% - 50px);
  padding: 20px;
  position: relative;
}

.details-container .row .box::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: var(--bg-touch);
  box-shadow: 0 2px 10px var(--black-shadow);
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}

.row-1 .box::before {
  right: -7px;
}

.row-2 .box::before {
  left: -7px;
}

.row .box .icon {
  position: absolute;
  border-radius: 50%;
  background: var(--bg-main);
  color: var(--secondary);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 4px var(--secondary);
}

.row .box .edu-icon {
  height: 40px;
  width: 40px;
}

.row .box .exp-icon {
  height: 60px;
  width: 60px;
  background-color: var(--white-color);
}

.row .box .exp-icon img {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.row-1 .box .icon {
  top: 15px;
  right: -70px;
}

.row-2 .box .icon {
  top: 15px;
  left: -70px;
}

.row-1 .box .exp-icon {
  right: -80px;
  top: 10px;
}

.row-2 .box .exp-icon {
  left: -80px;
  top: 10px;
}

.row .box .head {
  margin: 10px 0;
  width: 80%;
}

.row .box .title {
  font-size: var(--h4);
  font-weight: 500;
}

.row .box .edu-img {
  position: absolute;
  top: 10%;
  right: 5%;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: var(--white-color);
}

.row .box .date {
  margin: 15px 0;
}

.row .box .details {
  width: 75%;
  margin: 10px 0;
  line-height: 20px;
}

.row .box .detail li {
  margin: 10px 20px;
  line-height: 20px;
  list-style-type: square;
}

.row .box .details p {
  margin: 5px 0;
}

.row .box .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  padding-top: 5px;
}

.row .box .bottom .btn {
  border: 1px solid var(--secondary);
  padding: 7px 15px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.row .box .bottom .info {
  background-color: var(--secondary);
  color: var(--white-color);
}

.row .box .bottom .info:hover {
  background-color: transparent;
  color: var(--primary);
}

.row .box .bottom .cert {
  background-color: transparent;
  color: var(--primary);
}

.row .box .bottom .cert:hover {
  background-color: var(--secondary);
  color: var(--white-color);
}

/* 9. Skills Page Styling */

.skill-set {
  margin: auto;
  width: 90%;
  padding: 15vh 0 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  grid-gap: 50px;
}

.skill-set .cont {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 30px 0 var(--black-shadow);
  background-color: var(--bg-touch);
}

.skill-set .cont .title {
  margin-bottom: 20px;
  font-size: var(--h3);
  font-weight: 700;
}

.skill-set .cont .skill-type {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  place-items: center;
}

.skill-set .cont .skill-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--sec-hover);
  cursor: pointer;
}

.skill-set .cont .skill-box .icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-set .cont .skill-box p {
  margin-left: 10px;
}

/* 10. Coding Profiles Page Styling */

.coding-profile {
  padding: 15vh 60px;
}

.coding-profile .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 50px;
  place-items: center;
}

.coding-profile .container .box {
  background-color: var(--bg-touch);
  box-shadow: 0 1px 5px 0 var(--black-shadow);
  border-radius: 5px;
  width: 175px;
  height: 225px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.coding-profile .container .box .logo {
  width: 85%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coding-profile .container .box .logo img {
  height: 100%;
}

.coding-profile .container .box .text {
  width: 100%;
  padding: 10px;
}

.coding-profile .container .box .text p {
  margin: 5px 0;
}

.coding-profile .container .box .profile-btn {
  padding: 2px 20px;
  color: var(--white-color);
  background-color: var(--secondary);
}

.total-problem {
  width: 85%;
  margin: auto;
  border-radius: 10px;
  padding: 40px;
  background-color: var(--bg-touch);
  box-shadow: 0 25px 100px 0 var(--black-shadow);
}

.total-problem .title {
  font-size: var(--h2);
  font-weight: 700;
  margin-bottom: 20px;
}

.total-problem table {
  position: relative;
  width: 80%;
  margin: 0 auto 20px;
  border-collapse: collapse;
}

.total-problem table tr:hover {
  background-color: var(--sec-hover);
  cursor: pointer;
}

.total-problem table th,
.total-problem table td {
  text-align: left;
  padding: 10px;
  width: 60%;
  border-bottom: 1px solid var(--primary);
}

.total-problem .source {
  position: absolute;
  bottom: -20%;
  right: 0;
}

.total-problem .source a {
  color: var(--secondary);
}

/* 11. Other Section Styling */

.info-container {
  padding: 15vh 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  grid-gap: 50px;
  place-items: center;
  width: 85%;
  margin: auto;
}

.info-card {
  background-color: var(--bg-touch);
  height: 100%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--black-shadow);
}

.info-card .left {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card img {
  width: 100%;
  border-radius: 5px;
}

.info-card .right {
  width: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

.info-card .right h2 {
  font-size: var(--h4);
  margin: 10px 0;
}

.info-card .right .info-btn {
  padding: 5px 25px;
  border: none;
  color: var(--white-color);
  background-color: var(--secondary);
  cursor: pointer;
}

.info-card .right .info-btn:hover {
  color: var(--primary);
  background-color: var(--sec-hover);
}

/* 12. Contact Page Styling */
.contact {
  padding: 13vh 70px 0;
}

.contact .title {
  font-size: var(--h1);
  font-weight: 700;
}

.contact form {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--bg-touch);
  box-shadow: 0 25px 100px 0 var(--black-shadow);
}

.contact form .msg {
  position: absolute;
  width: 100%;
  text-align: center;
}

.contact form .success {
  color: #0f0;
}

.contact form .error {
  color: #f00;
}

.contact form .left,
.contact form .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.contact form .input {
  width: 100%;
  padding: 15px;
  margin: 13px 0;
  font-size: var(--p);
  font-family: var(--font);
  outline: none;
  border: none;
  border-radius: 5px;
  color: var(--secondary);
  box-shadow: inset 0 2px 15px 0 var(--shadow);
  background-color: var(--bg-touch);
}

.contact form .input::placeholder {
  color: var(--placeholder);
}

.contact form .submit {
  align-self: flex-end;
  font-size: var(--p);
  margin-top: 10px;
  color: var(--white-color);
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  cursor: pointer;
}

.contact form .submit:hover {
  color: var(--primary);
  background-color: transparent;
}

.social-media {
  margin: 40px auto 15px;
  width: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-media a {
  background-color: var(--sec-hover);
  width: 50px;
  height: 50px;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
}

.social-media a:hover {
  transform: scale(1.1);
}

.social-media .fab {
  font-size: var(--h4);
  color: var(--white-color);
}

.mail {
  text-align: center;
}

.mail a {
  color: var(--secondary);
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1000px) {
  header {
    position: fixed;
    bottom: 0;
  }

  .center-nav {
    display: none;
  }

  .toggle-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
  }

  .mob-nav .mob-links {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }

  .landing {
    width: 90vw;
    height: auto;
    margin: 100px auto;
  }

  .about .container {
    flex-direction: column;
  }

  .about .container .left {
    margin: 0 0 30px;
  }

  .about .container .left h1::after {
    right: 0;
  }

  .follow h1 {
    margin: 20px 60px;
  }

  .projects-container {
    height: 35vh;
  }

  .project-page {
    padding-top: 50px;
  }

  .project-page .myProject {
    width: 100%;
  }

  .follow .container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .footer {
    padding: 30px 30px 100px;
  }

  .details-container {
    margin: 0 auto;
    padding-bottom: 70px;
    width: 100%;
  }

  .skill-set,
  .contact {
    padding-top: 50px;
  }

  .social-media {
    width: 30%;
  }

  .info-container {
    padding-top: 50px;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }

  .grecaptcha-badge {
    bottom: -100px !important;
  }
}

@media only screen and (max-width: 880px) {
  .mob-nav .mob-links {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .landing .right {
    width: 80%;
  }

  .landing .left {
    padding: 50px 30px;
    width: 100%;
  }

  .skills {
    width: 90%;
  }

  .projects-container {
    width: 88%;
  }

  .projects h1 {
    margin: 0 50px 50px;
  }

  .skill-set {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

  .coding-profile {
    padding: 50px;
  }

  .total-problem table {
    width: 100%;
  }

  .contact {
    padding: 50px 20px 100px;
  }
}

@media only screen and (max-width: 750px) {
  .mob-nav .mob-links {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 15px;
  }

  .landing {
    flex-direction: column-reverse;
    height: auto;
    margin: 0 auto;
  }

  .landing .right {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .landing .right svg {
    width: 90%;
    height: auto;
    padding: 0 0 20px;
  }

  .landing .left {
    padding: 40px 20px;
  }

  .about {
    width: 85%;
    width: 100%;
  }

  .about .container {
    padding: 15px 0 30px;
  }

  .about .left h1::after {
    width: 60%;
  }

  .about .right .text {
    margin: 20px 0;
  }

  .about .right .education {
    display: none;
  }

  .skills .container {
    width: 100%;
    display: block;
    padding: 20px;
  }

  .skills .container .left,
  .skills .container .right {
    margin: 0;
  }

  .projects h1 {
    margin: 0 30px 50px;
  }

  .projects-container {
    height: auto;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
  
  .service-list .container{
    flex-direction: column;
  }

  .testimonial h1{
    margin-left: 20px;
  }

  .slide-content{
    width: 350px;
  }

  .follow h1 {
    font-size: var(--h2);
    margin: 10px 0 30px;
  }

  .follow .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .follow .container .box {
    width: 90%;
  }

  .footer {
    padding: 30px 30px 100px;
  }

  .footer h2 {
    font-size: var(--h5);
  }

  .footer h1 {
    font-size: var(--h4);
  }

  .footer .container {
    flex-direction: column;
    width: 100%;
    font-size: var(--p);
  }

  .footer .container .copyright {
    margin-top: 15px;
  }

  .details-container .center-line {
    left: 35px;
  }

  .details-container .exp-center {
    left: 45px;
  }

  .details-container .row {
    margin: 10px 0 20px 30px;
  }

  .details-container .row .box {
    width: 100%;
  }

  .row-1 .box::before {
    left: -7px;
  }

  .row-1 .box .icon,
  .row-2 .box .icon {
    left: -55px;
  }

  .social-media {
    width: 40%;
  }

  .contact {
    text-align: center;
  }

  .contact form {
    flex-direction: column;
    align-items: center;
  }

  .contact form .left {
    width: 90%;
    margin-bottom: 0;
  }

  .contact form .right {
    width: 90%;
    margin-top: 0;
  }

  .contact form .submit {
    align-self: flex-start;
  }
}

@media only screen and (max-width: 460px) {
  .coding-profile .container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .social-media {
    width: 50%;
  }

  .info-container {
    width: 100%;
  }
}

@media only screen and (max-width: 415px) {
  .coding-profile .container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .social-media {
    width: 60%;
  }
}